
/* CARD */

*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}



img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}



.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
 
  }


.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}



.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}



.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

/* Navbar */

.navbar{
    justify-content: start !important;
  }
  .navbar-brand{
    Margin-left: 20px;
    }
  
  
  
  .fond {
    background-color: black;
  }
  

  /* cezfez */ 

  
.navbar{
  justify-content: start !important;
}
.navbar-brand{
  Margin-left: 20px;
  }



.fond {
  background-color: black;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;

}


.background {
    background-image: url("https://image.freepik.com/vecteurs-libre/fond-texture-metallique_53876-89255.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    }
